@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme inline {
  --color-grayShade: #eeeeee;
  --color-redShade: #f10000;
}

body {
  font-family: "Montserrat", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-anta {
  font-family: "Anta", sans-serif;
}
